<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">
        <i class="fas fa-sun fa-2x"></i>
          &nbsp;Engenho Novo Bildung Blox</span>
    </section>
    <section mdcToolbarSection alignEnd>
        <a href="javascript:void(0)" mdcToolbarIcon class="material-icons" aria-label="Download" alt="Download">beach_access</a>
        <a href="javascript:void(0)" mdcToolbarIcon class="material-icons" aria-label="Print this page" alt="Print this page">local_bar</a>
        <a href="javascript:void(0)" mdcToolbarIcon class="material-icons" aria-label="Bookmark this page" alt="Bookmark this page">my_location</a>
      </section>
  </div>
</header>
<main class="mdc-toolbar-fixed-adjust">

<script>
  var toolbar = mdc.toolbar.MDCToolbar.attachTo(document.querySelector('.mdc-toolbar'));
  toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
</script>


<div style="height: 100vh; text-align:center; display: flex; flex-direction: column; align-items: center; justify-content: center">

  <h1>
    Bildung Blox Quadrangular
  </h1>
  <button mdcButton raised>
    <i class="material-icons">all_inclusive</i>
    &nbsp;&nbsp;Press Freedoms</button>
  <img width="100" style="margin-top: 30px; margin-bottom: 30px;" alt="Angular Logo" src="../assets/alchemy-sulphuric.svg">

<div>
  <button mdcButton (click)="dialog1.open()">Open a Dialogue</button>&ngsp;
  <button mdcButton outlined (click)="dialog2.open()">Close a Monologue</button>
</div>

<aside #dialog1="mdcDialog" mdcDialog mdcFocusTrap>
  <div mdcDialogSurface style="text-align: left; max-width: 300px">
    <header mdcDialogHeader>
      <h2 mdcDialogHeaderTitle>
        <i class="fas fa-star-and-crescent fa-2x"></i>
        Talk Amongst Yourselves</h2>
    </header>
    <section mdcDialogBody>
        Ηασ ιδ μαλισ cονγθε σcαεvολα, εξ νοστρο ιμπερδιετ qθι, νο φαλλι ποπθλο νεμορε μεα. Μολλισ σιγνιφερθμqθε ει ηισ. Σαπερετ ορνατθσ δεφινιτιονεσ ηισ νο. Δθο ετ αλιqθαμ περτιναξ ποστθλαντ, μενανδρι δελιcατισσιμι qθο εξ. Εξ πριμα λθδθσ σcαεvολα σεδ.
    </section>
    <footer mdcDialogFooter>
      <button mdcButton mdcDialogCancel>Foolish</button>
      <button mdcButton mdcDialogAccept>Bar None</button>
    </footer>
  </div>
  <div mdcDialogBackdrop></div>
</aside>

<aside #dialog2="mdcDialog" mdcDialog mdcFocusTrap>
  <div mdcDialogSurface style="max-width: 400px">
    <header mdcDialogHeader>
      <h2 mdcDialogHeaderTitle>
        <i class="material-icons">directions_bike</i>
        Sons e Tons Pro Telefóm</h2>
    </header>
    <section mdcDialogBody scrollable>
      <ul mdcList>
        <li mdcListItem>Callisto</li>
        <li mdcListItem>Ganymede</li>
        <li mdcListItem>Luna</li>
        <li mdcListItem>Marimba</li>
        <li mdcListItem>Schwifty</li>
        <li mdcListItem>Callisto</li>
        <li mdcListItem>Ganymede</li>
        <li mdcListItem>Luna</li>
        <li mdcListItem>Marimba</li>
        <li mdcListItem>Schwifty</li>
        <li mdcListItem>Callisto</li>
        <li mdcListItem>Ganymede</li>
        <li mdcListItem>Luna</li>
        <li mdcListItem>Marimba</li>
        <li mdcListItem>Schwifty</li>
      </ul>
    </section>
    <footer mdcDialogFooter>
      <button mdcButton mdcDialogCancel>Nenhum</button>
      <button mdcButton mdcDialogAccept>Tudo</button>
    </footer>
  </div>
  <div mdcDialogBackdrop></div>
</aside>

<div class="mdc-grid-list" style="margin-top: 50px;">
  <ul class="mdc-grid-list__tiles">
    <li class="mdc-grid-tile">
      <div class="mdc-grid-tile__primary">
        <img class="mdc-grid-tile__primary-content" src="../assets/biohazard.svg" />
      </div>
      <span class="mdc-grid-tile__secondary">
        <span class="mdc-grid-tile__title">Rio de Dinheiro</span>
      </span>
    </li>
    <li class="mdc-grid-tile">
      <div class="mdc-grid-tile__primary">
        <img class="mdc-grid-tile__primary-content" src="../assets/biohazard.svg" />
      </div>
      <span class="mdc-grid-tile__secondary">
        <span class="mdc-grid-tile__title">San Pavlov City</span>
      </span>
    </li>
        <li class="mdc-grid-tile">
          <div class="mdc-grid-tile__primary">
            <img class="mdc-grid-tile__primary-content" src="../assets/biohazard.svg" />
          </div>
          <span class="mdc-grid-tile__secondary">
            <span class="mdc-grid-tile__title">Matos Grossos Sulistas</span>
          </span>
        </li>
  </ul>
</div>

<router-outlet></router-outlet>
</div>s

</main>
