// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';

$mdc-theme-primary: #607d8b;
$mdc-theme-secondary: #ffffe0;
$mdc-theme-background: #fff;

@import "material-components-web/material-components-web";


@import "~@ng-select/ng-select/themes/material.theme.css";
//
// @import '~@angular/material/theming';
//
//     $custom-typography: mat-typography-config(
//     $font-family:   'News Cycle',
//     $display-4:     mat-typography-level(112px, 112px, 300),
//     $display-3:     mat-typography-level(56px, 56px, 400),
//     $display-2:     mat-typography-level(45px, 48px, 400),
//     $display-1:     mat-typography-level(34px, 40px, 400),
//     $headline:      mat-typography-level(24px, 32px, 400),
//     $title:         mat-typography-level(20px, 32px, 500),
//     $subheading-2:  mat-typography-level(16px, 28px, 400),
//     $subheading-1:  mat-typography-level(15px, 24px, 400),
//     $body-2:        mat-typography-level(14px, 24px, 500),
//     $body-1:        mat-typography-level(14px, 20px, 400),
//     $caption:       mat-typography-level(12px, 20px, 400),
//     $button:        mat-typography-level(14px, 14px, 500),
//     $input:         mat-typography-level(inherit, 1.125, 400)
// );
//
// @include mat-base-typography($custom-typography);
// @include angular-material-typography($custom-typography);
// @include mat-core($custom-typography);
